.fri {
  display: inline-block;
  vertical-align: middle;
}

.fri-like {
  background-image: url('../images/icons-sc3e2ba1cd1.png');
  background-position: 0 -36px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 31px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-like {
    background-image: url('../images/icons-2x-s1d9e5f5bab.png');
    background-size: 218px auto;
    background-position: 0 -34px;
    height: 31px;
    width: 32px;
  }
}

.fri-dislike {
  background-image: url('../images/icons-sc3e2ba1cd1.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 31px;
  width: 32px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-dislike {
    background-image: url('../images/icons-2x-s1d9e5f5bab.png');
    background-size: 218px auto;
    background-position: 0 0;
    height: 31px;
    width: 32px;
  }
}

.fri-versus-heart {
  background-image: url('../images/icons-sc3e2ba1cd1.png');
  background-position: 0 -72px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 213px;
  width: 218px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .fri-versus-heart {
    background-image: url('../images/icons-2x-s1d9e5f5bab.png');
    background-size: 218px auto;
    background-position: 0 -67px;
    height: 213px;
    width: 218px;
  }
}

.cont_wrap {
  min-width: 320px;
}

.cl-white {
  color: #fff !important;
}

.cl-black {
  color: #000 !important;
}

.cl-pink {
  color: #da56e7 !important;
}

.cl-light {
  color: #eff2fb !important;
}

.bg-green, .circle__normal-green, .circle__smaller-green, .circle__small-green {
  background-color: #00cf6b;
}

.bg-red, .circle__normal-red, .circle__smaller-red, .circle__small-red {
  background-color: #ff343b;
}

.bg-blue, .circle__normal-blue, .circle__smaller-blue, .circle__small-blue {
  background-color: #5c73e2;
}

.bg-gradient-pink {
  background-image: -webkit-linear-gradient(62deg, #891c7e, #c96dd8);
  background-image: -moz-linear-gradient(62deg, #891c7e, #c96dd8);
  background-image: -o-linear-gradient(62deg, #891c7e, #c96dd8);
  background-image: linear-gradient(62deg, #891c7e, #c96dd8);
}

.bg-gradient-pink-light {
  background-image: -webkit-linear-gradient(to left, #cf2dd5, #ef73f5);
  background-image: -moz-linear-gradient(to left, #cf2dd5, #ef73f5);
  background-image: -o-linear-gradient(to left, #cf2dd5, #ef73f5);
  background-image: linear-gradient(to left, #cf2dd5, #ef73f5);
}

.bg-gradient-blue {
  background-image: -webkit-linear-gradient(to right, #4eb6ff, #39a1ea);
  background-image: -moz-linear-gradient(to right, #4eb6ff, #39a1ea);
  background-image: -o-linear-gradient(to right, #4eb6ff, #39a1ea);
  background-image: linear-gradient(to right, #4eb6ff, #39a1ea);
}

.txt-center {
  text-align: center !important;
}

.txt-right {
  text-align: right !important;
}

.txt-left {
  text-align: left !important;
}

.mw-456 {
  max-width: 456px !important;
}

.circle__normal, .circle__normal-green, .circle__normal-red, .circle__normal-blue {
  width: 65px;
  height: 65px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}
.circle__normal::before, .circle__normal-green::before, .circle__normal-red::before, .circle__normal-blue::before {
  display: inline-block;
  height: 100%;
  content: "";
  vertical-align: middle;
}

.circle__smaller, .circle__smaller-green, .circle__smaller-red, .circle__smaller-blue {
  width: 49px;
  height: 49px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}
.circle__smaller::before, .circle__smaller-green::before, .circle__smaller-red::before, .circle__smaller-blue::before {
  display: inline-block;
  height: 100%;
  content: "";
  vertical-align: middle;
}

.circle__small, .circle__small-green, .circle__small-red, .circle__small-blue {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}
.circle__small::before, .circle__small-green::before, .circle__small-red::before, .circle__small-blue::before {
  display: inline-block;
  height: 100%;
  content: "";
  vertical-align: middle;
}

.img-responsive {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.section {
  width: 100%;
  position: relative;
  display: block;
  padding: 40px 0;
}
.section__title {
  font-size: 28px;
  line-height: 1.14;
  color: #000;
}
.section__title_info {
  font-size: 16px;
  line-height: 1.44;
  color: #000;
  margin: 23px 0 0 0;
}
.section__text {
  font-size: 14px;
  line-height: 1.64;
  color: #000;
  margin: 6px 0 0 0;
}

.s__compare {
  padding: 30px 0 62px 0;
}
.s__compare_box {
  font-size: 0;
  width: 100%;
  position: relative;
}
.s__compare_box .fri-versus-heart {
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -106px;
  top: 50%;
  margin-top: -106px;
}
.s__compare_box_item {
  display: inline-block;
  width: 50%;
  font-size: 14px;
  padding: 0 7.5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
  position: relative;
  margin: 29px 0 8px 0;
  position: relative;
}
.s__compare_box_item > div {
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  max-width: 477px;
  width: 100%;
}
.s__compare_box_item > div::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.s__compare_box_item > div > a:first-child {
  margin-right: -12px;
}
.s__compare_box_item > img {
  max-width: 477px;
}
.s__compare_box_item:nth-child(2n) {
  text-align: left;
}
.s__compare_box_item:nth-child(2n) > div {
  left: 0;
}

.s__compareInfo_article {
  margin: 35px 0;
  overflow: hidden;
}
.s__compareInfo_article > div {
  float: left;
}
.s__compareInfo_article > div:first-child {
  width: 48px;
  text-align: center;
}
.s__compareInfo_article > div:nth-child(2) {
  width: calc(100% - 48px);
}
.s__compareInfo_article.article .article__title {
  font-size: 24px;
  margin-bottom: 10px;
}
.s__compareInfo_article.article .article__info {
  font-size: 0;
}
.s__compareInfo_article.article .article__info > div {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}
.s__compareInfo_article.article .article__info > div:first-child {
  width: 60%;
}
.s__compareInfo_article.article .article__info > div:last-child {
  width: calc(40% - 20px);
  margin-left: 20px;
}
.s__compareInfo_article.article .article__info .section__text {
  margin: 0;
}

.progress-bar {
  height: 20px;
  display: block;
  font-size: 0;
  margin-bottom: 10px;
}
.progress-bar-info {
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}
.progress-bar-info:nth-child(1) {
  max-width: calc(100% - 50px);
  height: 20px;
}
.progress-bar-info:nth-child(2) {
  margin-left: 5px;
  line-height: 20px;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .s__compare_box_item {
    width: 100%;
  }
  .s__compare_box_item > img {
    max-width: 100% !important;
  }
  .s__compare_box_item > div {
    max-width: 100%;
  }

  .s__compareInfo_article.article .article__info > div {
    width: 100% !important;
  }
  .s__compareInfo_article.article .article__info > div:nth-child(2) {
    margin-top: 20px;
    margin-left: 0;
  }
}
