@media screen and (max-width: 767px) and (orientation: landscape)
  .s_compareInfo_grid
    > div
      width: calc(50% - 160px)

      &.s_compareInfo_grid_image
        max-width: 300px
        margin: 0 10px