@media screen and (max-width: 767px) and (orientation: portrait)
	.s__compare_box_item
		width: 100%

		> img
			max-width: 100%!important

		> div
			max-width: 100%

	.s__compareInfo_article
		&.article
			.article__info
				> div
					width: 100%!important

					&:nth-child(2)
						margin-top: 20px
						margin-left: 0