@media screen and (max-width: 767px) and (orientation: portrait)
	.s__compare_box_item
		width: 100%

		> img
			max-width: 100%!important

		> div
			max-width: 100%

	.s__compareInfo_article
		&.article
			.article__info
				> div
					width: 100%!important

					&:nth-child(2)
						margin-top: 20px
						margin-left: 0

	.s_compareInfo_grid

		> div
			float: left
			width: 100%
			text-align: left!important

			&.s_compareInfo_grid_image
				max-width: calc(100% - 40px)
				width: 100%
				text-align: left
				+box_sizing(border-box)
				margin: 20px 0 20px 0

	.s_compareInfo_box_buttons
		> li
			margin: 10px 0 0 0!important
			display: block

	.s_compareInfo_grid > div > article
		min-height: auto