.cont_wrap
	min-width: 320px

// Colors
$white: #fff
$black: #000
$dark: #2d2d2d
$green: #00cf6b
$greenLighter: #00d5a1
$red: #ff343b
$blue: #5c73e2
$blueLight: #44b3fc
$pink: #da56e7
$light: #eff2fb
$yellow: #6dc101

[class*='--pink-color'], .--pink-color
	color: $pink

[class*='--blue-color'], .--blue-color
	color: #3da3ea

.cl-white
	color: $white!important

.cl-black
	color: $black!important

.cl-pink
	color: $pink!important

.cl-light
	color: $light!important

.bg-green
	background-color: $green

.bg-red
	background-color: $red

.bg-blue
	background-color: $blue

.bg-gradient-pink
	background-image: -webkit-linear-gradient(62deg, #891c7e, #c96dd8)
	background-image: -moz-linear-gradient(62deg, #891c7e, #c96dd8)
	background-image: -o-linear-gradient(62deg, #891c7e, #c96dd8)
	background-image: linear-gradient(62deg, #891c7e, #c96dd8)

.bg-gradient-pink-light
	background-image: -webkit-linear-gradient(to left, #cf2dd5, #ef73f5)
	background-image: -moz-linear-gradient(to left, #cf2dd5, #ef73f5)
	background-image: -o-linear-gradient(to left, #cf2dd5, #ef73f5)
	background-image: linear-gradient(to left, #cf2dd5, #ef73f5)

.bg-gradient-blue
	background-image: -webkit-linear-gradient(to right, #4eb6ff, #39a1ea)
	background-image: -moz-linear-gradient(to right, #4eb6ff, #39a1ea)
	background-image: -o-linear-gradient(to right, #4eb6ff, #39a1ea)
	background-image: linear-gradient(to right, #4eb6ff, #39a1ea)

.txt-center
	text-align: center!important

.txt-right
	text-align: right!important

.txt-left
	text-align: left!important

.mw-456
	max-width: 456px!important

.button
	+border_radius(5px)
	font-size: 14px
	color: $white
	text-align: center
	min-width: 162px
	height: 30px
	display: inline-block

	&::before
		content: ''
		display: inline-block
		vertical-align: middle
		height: 100%

	&__success
		@extend .button
		background-color: #00cf6b
		position: relative
		z-index: 1

	&__danger
		@extend .button
		background-color: $red

.button__large
	+border_radius(5px)
	box-shadow: 0 1px 2px 0 rgba(0, 213, 161, 0.4), 0 1px 1px 0 rgba(0, 0, 0, 0.12)
	min-width: 280px
	height: 50px
	display: inline-block
	text-align: center
	font-size: 16px
	color: $white

	&::before
		content: ''
		display: inline-block
		vertical-align: middle
		height: 100%

	&_success
		@extend .button__large
		background-color: $greenLighter

.button__rounded
	min-width: 159px
	border-radius: 100px
	box-shadow: 0 0 4px 0 rgba(238, 45, 174, 0.39)
	height: 30px
	font-weight: normal
	font-family: 'TruthCYR-r', serif
	text-align: center
	font-size: 14px
	color: #ffffff

	&::before
		content: ''
		display: inline-block
		vertical-align: middle
		height: 100%

	&_pink
		@extend .button__rounded
		background-image: linear-gradient(to top, #cf2dd5, #ef73f5)


.circle__normal
	width: 65px
	height: 65px
	+border_radius(50%)
	text-align: center

	&::before
		display: inline-block
		height: 100%
		content: ''
		vertical-align: middle

	&-green
		@extend .circle__normal
		@extend .bg-green

	&-red
		@extend .circle__normal
		@extend .bg-red

	&-blue
		@extend .circle__normal
		@extend .bg-blue

.circle__smaller
	width: 49px
	height: 49px
	+border_radius(50%)
	text-align: center

	&::before
		display: inline-block
		height: 100%
		content: ''
		vertical-align: middle

	&-green
		@extend .circle__smaller
		@extend .bg-green

	&-red
		@extend .circle__smaller
		@extend .bg-red

	&-blue
		@extend .circle__smaller
		@extend .bg-blue

.circle__small
	width: 30px
	height: 30px
	+border_radius(50%)
	text-align: center

	&::before
		display: inline-block
		height: 100%
		content: ''
		vertical-align: middle

	&-green
		@extend .circle__small
		@extend .bg-green

	&-red
		@extend .circle__small
		@extend .bg-red

	&-blue
		@extend .circle__small
		@extend .bg-blue

.circle__large
	width: 80px
	height: 80px
	+border_radius(50%)
	text-align: center
	position: relative

	&::before
		display: inline-block
		height: 100%
		content: ''
		vertical-align: middle

	&-green
		@extend .circle__large
		@extend .bg-green

	&-red
		@extend .circle__large
		@extend .bg-red

	&-blue
		@extend .circle__large
		@extend .bg-blue


.img-responsive
	max-width: 100%
	width: 100%
	height: auto

.section
	width: 100%
	position: relative
	display: block
	padding: 40px 0
	font-family: 'TruthCYR-r', serif
	min-width: 320px

	&__title
		font-size: 28px
		line-height: 1.14
		color: $black
		font-weight: normal
		font-family: 'TruthCYR-r', serif

		&_info
			font-size: 16px
			line-height: 1.44
			color: $black
			margin: 23px 0 0 0

		&_smaller
			font-size: 20px
			line-height: 1.15
			color: $black
			font-weight: normal
			font-family: 'TruthCYR-r', serif

	&__text
		font-size: 14px
		line-height: 1.64
		color: $black
		margin: 6px 0 0 0

h2.mb10, .mb10
	margin-bottom: 10px

.mb15
	margin-bottom: 15px

.project-small__circle
	width: 20px
	height: 20px
	border-radius: 100%
	margin-right: 5px

.project-circles__section
	& > .in_bl
		margin: 0 15px

.s__compare
	padding: 30px 0 62px 0

	.section__title
		font-family: 'TruthCYR', serif
		font-weight: normal

	&Info
		position: relative
		z-index: 2
		background: transparent
		padding-bottom: 150px

		&_bg
			background-image: url('../images/compare-info-section-bg.jpg'), -webkit-linear-gradient(to right, rgba(78, 182, 255, .06), rgba(12, 117, 192, .06))
			background-image: url('../images/compare-info-section-bg.jpg'), -moz-linear-gradient(to right, rgba(78, 182, 255, .06), rgba(12, 117, 192, .06))
			background-image: url('../images/compare-info-section-bg.jpg'), -o-linear-gradient(to right, rgba(78, 182, 255, .06), rgba(12, 117, 192, .06))
			background-image: url('../images/compare-info-section-bg.jpg'), linear-gradient(to right, rgba(78, 182, 255, .06), rgba(12, 117, 192, .06))
			background-size: cover
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			opacity: 0.2
			z-index: 1

		.cont_wrap
			position: relative
			z-index: 3


		&_bottom_b
			position: absolute
			bottom: 0
			left: 40px
			z-index: 5

			.button__rounded_pink
				margin-left: 54px

	&_box
		font-size: 0
		width: 100%
		position: relative

		.fri-versus-heart
			position: absolute
			z-index: 2
			left: 50%
			margin-left: -106px
			top: 50%
			margin-top: -106px

		&_item
			display: inline-block
			width: 50%
			font-size: 14px
			padding: 0 7.5px
			+box_sizing(border-box)
			text-align: right
			position: relative
			margin: 29px 0 8px 0

			> div
				position: absolute
				text-align: center
				top: 0
				right: 0
				bottom: 0
				z-index: 2
				max-width: 477px
				width: 100%

				&::before
					content: ''
					display: inline-block
					height: 100%
					vertical-align: middle

				> a
					&:first-child
						margin-right: -12px

			> img
				max-width: 477px

			&:nth-child(2n)
				text-align: left

				> div
					left: 0

.s__compareInfo_article
	margin: 35px 0

	&::after
		content: ''
		display: block
		clear: both

	> div
		float: left

		&:first-child
			width: 60px
			text-align: center

			.fri
				vertical-align: top
				margin-top: -5px

			.fri-invis-hat
				margin-top: -10px

			.fri-circle-ava
				margin-top: -8px

		&:nth-child(2)
			width: calc(100% - 60px)

	&.article
		.article__title
			font-size: 24px
			margin-bottom: 10px
			font-family: 'TruthCYR-r', serif
			font-weight: normal

		.article__info
			font-size: 0

			> div
				display: inline-block
				vertical-align: top
				font-size: 14px

				&:first-child
					width: 60%

				&:last-child
					width: calc(40% - 20px)
					margin-left: 20px

			.section__text
				margin: 0

.s__compareInfo_chatBox
	list-style: none

	> li
		padding: 13px 0
		+box_sizing(border-box)
		font-size: 0
		vertical-align: bottom

		> div
			display: inline-block
			width: calc(100% - 54px)
			max-width: 314px
			min-height: 44px
			font-size: 14px
			line-height: 1.29
			color: #ffffff
			vertical-align: bottom

			> p
				background-color: #00d5a1
				+box_sizing(border-box)
				padding: 5px 20px
				display: inline-block
				font-size: 14px
				line-height: 1.29
				color: #ffffff
				margin: 0

				&.font-large
					font-size: 20px



			&:first-child
				width: 54px
				text-align: left
				background: transparent
				height: 44px
				padding: 0

				&::before
					content: ''
					display: inline-block
					height: 100%
					vertical-align: bottom

				> i
					vertical-align: bottom

			&.rounded
				p
					+border_radius(44px)

			&.half-rounded
				p
					+border_radius(44px 44px 44px 0)

.s_compareInfo_box_buttons
	list-style: none
	font-size: 0
	text-align: center
	margin: 20px 0 0 0

	> li
		font-size: 14px
		display: inline-block
		vertical-align: top

		&:first-child
			margin-right: -5px

.s_compareInfo_grid
	margin: 30px 0 0 0

	&::after
		content: ''
		display: block
		clear: both

	> div
		float: left
		width: calc(50% - 250px)
		text-align: left

		> article
			min-height: 150px
			margin: 20px 0 0 0

			.section__text
				font-family: 'TruthCYR', serif

		&.s_compareInfo_grid_image
			max-width: 420px
			width: 100%
			text-align: center
			position: relative
			margin: 0 40px

			.s_compareInfo_grid_image_info
				position: absolute
				top: 0
				right: -15px

				.like-count
					position: absolute
					font-size: 20px
					color: $white
					top: 50%
					left: 15px

				.fri-like
					margin-right: -13px
					+ .like-count
						margin-top: -3px

				.fri-dislike
					margin-right: -13px

					+ .like-count
						margin-top: -12px

		&:first-child
			text-align: right

//.ad__atolin
//	background-image: -webkit-linear-gradient(to right, rgba(78, 182, 255, .06), rgba(12, 117, 192, .06))
//	background-image: -moz-linear-gradient(to right, rgba(78, 182, 255, .06), rgba(12, 117, 192, .06))
//	background-image: -o-linear-gradient(to right, rgba(78, 182, 255, .06), rgba(12, 117, 192, .06))
//	background-image: linear-gradient(to right, rgba(78, 182, 255, .06), rgba(12, 117, 192, .06))

.ad__cinderella
	background-image: url("../images/ad_cinderella-bg.jpg")
	background-size: cover

.s_register
	background-image: url("../images/s_register-bg.jpg")
	background-position: center top
	background-size: cover
	min-height: 620px

.s__girls
	background-image: -webkit-linear-gradient(to right, rgba(78, 182, 255, .08), rgba(12, 117, 192, .08))
	background-image: -moz-linear-gradient(to right, rgba(78, 182, 255, .08), rgba(12, 117, 192, .08))
	background-image: -o-linear-gradient(to right, rgba(78, 182, 255, .08), rgba(12, 117, 192, .08))
	background-image: linear-gradient(to right, rgba(78, 182, 255, .08), rgba(12, 117, 192, .08))

	&_gift
		max-width: 325px
		width: 100%
		margin: 62px auto 33px
		text-align: center

		.circle__smaller
			display: inline-block
			margin-bottom: 36px
			position: relative

			.gift-count
				position: absolute
				width: 20px
				height: 20px
				background-color: #f8272e
				+border_radius(50%)
				text-align: center
				color: #fff
				font-size: 9px
				top: -3px
				right: -3px

				&::before
					content: ''
					display: inline-block
					vertical-align: middle
					height: 100%

		p
			font-size: 14px
			line-height: 1.57
			color: #5e5d91

.s__girls_article
	width: 165px
	max-width: 95%
	margin: 33px auto 10px
	+border_radius(10px)
	box-shadow: 0 1px 4px 0 rgba(130, 130, 130, 0.5)
	padding: 0 0 18px 0
	+box_sizing(border-box)
	+transition(all .2s ease-in-out)

	&:hover
		-webkit-transform: scale(1.02)
		-moz-transform: scale(1.02)
		-o-transform: scale(1.02)
		transform: scale(1.02)

	&_thumb
		position: relative
		+border_radius(10px 10px 0 0)
		width: 100%
		height: 165px

		> a
			display: block

			> img
				width: 100%
				height: 100%
				object-fit: contain
				+border_radius(10px 10px 0 0)

		.fri
			position: absolute
			top: -5px
			left: -5px
			z-index: 2

	&_title
		font-size: 14px
		color: $dark
		position: relative
		display: inline-block
		max-width: 150px
		+box_sizing(border-box)
		text-align: center
		margin: 14px auto 0 auto
		font-weight: normal
		font-family: 'TruthCYR-r', serif

		&::after
			content: ''
			display: block
			clear: both

		> span
			width: 6px
			height: 6px
			+border_radius(50%)
			display: inline-block
			position: absolute
			top: 0
			right: -10px

			&.online
				background-color: $yellow

			&.offline
				background-color: $red

	&_meta
		display: block
		text-align: center
		padding: 0 10px
		+box_sizing(border-box)
		font-size: 13px
		color: #939393
		margin: 5px 0


.progress-bar
	height: 20px
	display: block
	font-size: 0
	margin-bottom: 10px

	&-info
		display: inline-block
		font-size: 16px
		vertical-align: top

		&:nth-child(1)
			max-width: calc(100% - 50px)
			height: 20px

		&:nth-child(2)
			margin-left: 5px
			line-height: 20px
