{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}
<section class="section s__compare bg-gradient-pink">
	<div class="cont_wrap clearfix">
		<h2 class="section__title cl-white txt-center">Золушка Проджект vs Атолин</h2>
		<p class="section__title_info cl-white txt-center">Мы посчитали своей миссией донести максимально подробную информацию о сервисе Атолин и о сервисе Золушка Проджект, чтобы помочь сделать «правильный выбор»</p>
		<div class="s__compare_box">
			<i class="fri fri-versus-heart"></i>
			<div>
				<div class="s__compare_box_item">
					<img class="img-responsive" src="images/cinderella-project.png" alt="cinderella project template">
					<div>
						<a href="#" class="circle__normal-green"><i class="fri fri-like"></i></a>
						<a href="#" class="circle__normal-red"><i class="fri fri-dislike"></i></a>
					</div>
				</div>
				<div class="s__compare_box_item">
					<img class="img-responsive" src="images/atolin-project.png" alt="atolin project template">
					<div>
						<a href="#" class="circle__normal-green"><i class="fri fri-like"></i></a>
						<a href="#" class="circle__normal-red"><i class="fri fri-dislike"></i></a>
					</div>
				</div>
			</div>
		</div>
		<p class="section__text cl-light txt-center">Для экономии вашего времени мы специально подготовили для вас удобную инфографику.</p>
		<p class="section__text cl-light txt-center">Существуют два противоположных подхода к дизайну инфографики, расходящиеся в вопросах значимости для инфографики эстетики и украшений. За одним из них, исследовательским (англ. explorative), берущим начало в вековых традициях оформления научных работ, стоит Эдвард Тафти, автор нескольких основополагающих работ по информационному дизайну. Он ратует за минималистский характер инфографики, при котором всё несущественное для передачи информации должно быть опущено, а сама информация должна быть передана максимально точно. </p>
	</div>
</section>

<section class="section s__compareInfo">
	<div class="s__compareInfo_bg"></div>
	<div class="cont_wrap clearfix">
		<h2 class="section__title txt-center mb10">Сравнение преимуществ сервисов</h2>
		<p class="section__text txt-center mb15">Может взять 2-3 критически важных плюса, анонимность, не фейки и что то еще – чтобы они всегда были в инфографике</p>
		<div class="project-circles__section tac">
			<div class="in_bl">
				<div class="bg-gradient-pink-light in_bl project-small__circle"></div>
				<div class="in_bl --pink-color">Золушка Project</div>
			</div>
			<div class="in_bl">
				<div class="bg-gradient-blue in_bl project-small__circle"></div>
				<div class="in_bl --blue-color">Atolin</div>
			</div>
		</div>
		<article class="s__compareInfo_article article">
			<div>
				<i class="fri fri-invis-hat"></i>
			</div>
			<div>
				<h4 class="article__title">Анонимность</h4>
				<div class="article__info">
					<div><p class="section__text">Описание — текст Может взять 2-3 критически важных плюса, анонимность, не фейки и что то еще – чтобы они всегда были в инфографике</p></div>
					<div>
						<div class="progress-bar">
							<p class="progress-bar-info bg-gradient-pink-light" data-progress-bar="100%"></p>
							<p class="progress-bar-info --pink-color">100%</p>
						</div>
						<div class="progress-bar">
							<p class="progress-bar-info bg-gradient-blue" data-progress-bar="65%"></p>
							<p class="progress-bar-info --blue-color">65%</p>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article class="s__compareInfo_article article">
			<div>
				<i class="fri fri-security"></i>
			</div>
			<div>
				<h4 class="article__title">Безопасность</h4>
				<div class="article__info">
					<div><p class="section__text">Описание — текст Может взять 2-3 критически важных плюса, анонимность, не фейки и что то еще – чтобы они всегда были в инфографике</p></div>
					<div>
						<div class="progress-bar">
							<p class="progress-bar-info bg-gradient-pink-light" data-progress-bar="100%"></p>
							<p class="progress-bar-info --pink-color">100%</p>
						</div>
						<div class="progress-bar">
							<p class="progress-bar-info bg-gradient-blue" data-progress-bar="65%"></p>
							<p class="progress-bar-info --blue-color">65%</p>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article class="s__compareInfo_article article">
			<div>
				<i class="fri fri-circle-ava"></i>
			</div>
			<div>
				<h4 class="article__title">Реальные анкеты</h4>
				<div class="article__info">
					<div><p class="section__text">Описание — текст Может взять 2-3 критически важных плюса, анонимность, не фейки и что то еще – чтобы они всегда были в инфографике</p></div>
					<div>
						<div class="progress-bar">
							<p class="progress-bar-info bg-gradient-pink-light" data-progress-bar="100%"></p>
							<p class="progress-bar-info --pink-color">100%</p>
						</div>
						<div class="progress-bar">
							<p class="progress-bar-info bg-gradient-blue" data-progress-bar="65%"></p>
							<p class="progress-bar-info --blue-color">65%</p>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
	<div class="s__compareInfo_bottom_b">
		<ul class="s__compareInfo_chatBox">
			<li>
				<div><i class="fri fri-lips"></i></div>
				<div class="rounded">
					<p class="font-large">...</p>
				</div>
			</li>
			<li>
				<div><i class="fri fri-lips"></i></div>
				<div class="half-rounded">
					<p>Вы уже могли бы, сделать рассылку и девушки сами бы начали писать вам..</p>
				</div>
			</li>
		</ul>
		<a href="#form-block" class="button__rounded_pink" data-scroll>Сделать рассылку</a>
	</div>
</section>

<section class="section ad__atolin">
	<div class="cont_wrap clearfix">
		<h2 class="section__title txt-center">Сервис Атолин</h2>
		<div class="s_compareInfo_box">
			<ul class="s_compareInfo_box_buttons">
				<li><p class="button__success">Преимущества</p></li>
				<li><p class="button__danger">Недостатки</p></li>
			</ul>
			<div class="s_compareInfo_grid">
				<div class="s_compareInfo_grid_info">
					<article>
						<h4 class="section__title_smaller">Долгая загрузка сайта</h4>
						<p class="section__text">Для экономии вашего времени мы специально подготовили для вас удобную инфографику.</p>
					</article>
					<article>
						<h4 class="section__title_smaller">Сеть клонов</h4>
						<p class="section__text">Для экономии вашего времени мы специально подготовили для вас удобную инфографику.</p>
					</article>
					<article>
						<h4 class="section__title_smaller">Долгое подтверждение</h4>
						<p class="section__text">Для экономии вашего времени мы специально подготовили для вас удобную инфографику.</p>
					</article>
				</div>
				<div class="s_compareInfo_grid_image">
					<img src="images/atolin-project-larger.jpg" class="img-responsive" alt="">
					<div class="s_compareInfo_grid_image_info">
						<a href="#"><div class="circle__large-green"><i class="fri fri-like"></i><span class="like-count">3</span></div></a>
					</div>
				</div>
				<div class="s_compareInfo_grid_info">
					<article>
						<h4 class="section__title_smaller">Долгая загрузка сайта</h4>
						<p class="section__text">Для экономии вашего времени мы специально подготовили для вас удобную инфографику.</p>
					</article>
					<article>
						<h4 class="section__title_smaller">Сеть клонов</h4>
						<p class="section__text">Для экономии вашего времени мы специально подготовили для вас удобную инфографику.</p>
					</article>
					<article>
						<h4 class="section__title_smaller">Долгое подтверждение</h4>
						<p class="section__text">Для экономии вашего времени мы специально подготовили для вас удобную инфографику.</p>
					</article>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section ad__cinderella">
	<div class="cont_wrap clearfix">
		<h2 class="section__title txt-center">Недостатки и преимущества Золушка Проджект</h2>
		<div class="s_compareInfo_box">
			<ul class="s_compareInfo_box_buttons">
				<li><p class="button__success">Преимущества</p></li>
				<li><p class="button__danger">Недостатки</p></li>
			</ul>
			<div class="s_compareInfo_grid">
				<div class="s_compareInfo_grid_info">
					<article>
						<h4 class="section__title_smaller">Название</h4>
						<p class="section__text">ОНлайн чат – В остальных нужно перезагружать страницу, чтобы увидеть сообщение или еще хуже общение идет через почту</p>
					</article>
					<article>
						<h4 class="section__title_smaller">Название</h4>
						<p class="section__text">ОНлайн чат – В остальных нужно перезагружать страницу, чтобы увидеть сообщение или еще хуже общение идет через почту</p>
					</article>
					<article>
						<h4 class="section__title_smaller">Название</h4>
						<p class="section__text">Мы вкладываем большие деньги в удобство, анонимность, развитие нового функционала а не плодим серии копий одного и того же сайта</p>
					</article>
				</div>
				<div class="s_compareInfo_grid_image">
					<img src="images/cinderella-project-larger.jpg" class="img-responsive" alt="">
					<div class="s_compareInfo_grid_image_info">
						<a href="#"><div class="circle__large-red"><i class="fri-dislike"></i><span class="like-count">3</span></div></a>
					</div>
				</div>
				<div class="s_compareInfo_grid_info">
					<article>
						<h4 class="section__title_smaller">Название</h4>
						<p class="section__text">Зашифрованные соединение  – Ваше сообщения и персональные данные в надежной безопасности, зашифрованы.</p>
					</article>
					<article>
						<h4 class="section__title_smaller">Название</h4>
						<p class="section__text">Возможность рассылки по базе девушек, которая сильно экономит ваше время и девушки по вашим параметрам сами начинают писать вам – для мужика который ценит время это охуенно</p>
					</article>
					<article>
						<h4 class="section__title_smaller">Название</h4>
						<p class="section__text">Возможность анонимного звонка с приложения/сайта напрямую к золушке (Не какие исходящие звонки не остаются в истории, и ваш настоящий телефон не светится) </p>
					</article>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section s__girls">
	<div class="cont_wrap clearfix">
		<h2 class="section__title txt-center">Эти девушки хотят с тобой познакомиться с тобой поближе</h2>
		<div class="owl-carousel">
			<div class="item">
				<article class="s__girls_article">
					<div class="s__girls_article_thumb">
						<a href="#"><img src="http://lorempixel.com/165/165" alt=""></a>
					</div>
					<div class="txt-center">
						<a href="#"><h4 class="s__girls_article_title">Andry, 33 <span class="online"></span></h4></a>
					</div>
					<small class="s__girls_article_meta">Москва</small>
					<div class="s__girls_article_buttons txt-center">
						<a href="#"><i class="fri fri-call-circle"></i></a>
						<a href="#"><i class="fri fri-messange-circle"></i></a>
					</div>
				</article>
			</div>
			<div class="item">
				<article class="s__girls_article">
					<div class="s__girls_article_thumb">
						<i class="fri fri-real-photo"></i>
						<a href="#"><img src="http://lorempixel.com/165/165" alt=""></a>
					</div>
					<div class="txt-center">
						<a href="#"><h4 class="s__girls_article_title">Andry, 33 <span class="offline"></span></h4></a>
					</div>
					<small class="s__girls_article_meta">Москва</small>
					<div class="s__girls_article_buttons txt-center">
						<a href="#"><i class="fri fri-call-circle"></i></a>
						<a href="#"><i class="fri fri-messange-circle"></i></a>
					</div>
				</article>
			</div>
		</div>

		<div class="s__girls_gift">
			<div class="circle__smaller-blue"><i class="fri fri-gift"></i><span class="gift-count">1</span></div>
			<p>При регистрации прямо сейчас вы получите особый бонус - описание бонуса</p>
		</div>

		<div class="txt-center">
			<a href="#form-block" class="button__large_success" data-scroll>Зарегистрироваться </a>
		</div>
	</div>
</section>
{% endblock %}