{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}
<section class="section s__compare bg-gradient-pink">
	<div class="cont_wrap clearfix">
		<h2 class="section__title cl-white txt-center">Золушка Проджект vs Атолин</h2>
		<p class="section__title_info cl-white txt-center">Мы посчитали своей миссией донести максимально подробную информацию о сервисе Атолин и о сервисе Золушка Проджект, чтобы помочь сделать «правильный выбор»</p>
		<div class="s__compare_box">
			<i class="fri fri-versus-heart"></i>
			<div>
				<div class="s__compare_box_item">
					<img class="img-responsive" src="/images/cinderella-project.png" alt="cinderella project template">
					<div>
						<a href="#" class="circle__normal-green"><i class="fri fri-like"></i></a>
						<a href="#" class="circle__normal-red"><i class="fri fri-dislike"></i></a>
					</div>
				</div>
				<div class="s__compare_box_item">
					<img class="img-responsive" src="/images/atolin-project.png" alt="atolin project template">
					<div>
						<a href="#" class="circle__normal-green"><i class="fri fri-like"></i></a>
						<a href="#" class="circle__normal-red"><i class="fri fri-dislike"></i></a>
					</div>
				</div>
			</div>
		</div>
		<p class="section__text cl-light txt-center">Для экономии вашего времени мы специально подготовили для вас удобную инфографику.</p>
		<p class="section__text cl-light txt-center">Существуют два противоположных подхода к дизайну инфографики, расходящиеся в вопросах значимости для инфографики эстетики и украшений. За одним из них, исследовательским (англ. explorative), берущим начало в вековых традициях оформления научных работ, стоит Эдвард Тафти, автор нескольких основополагающих работ по информационному дизайну. Он ратует за минималистский характер инфографики, при котором всё несущественное для передачи информации должно быть опущено, а сама информация должна быть передана максимально точно. </p>
	</div>
</section>

<section class="section s__compareInfo">
	<div class="cont_wrap clearfix">
		<h2 class="section__title txt-center">Сравнение преимуществ сервисов</h2>
		<p class="section__text txt-center">Может взять 2-3 критически важных плюса, анонимность, не фейки и что то еще – чтобы они всегда были в инфографике</p>
		<article class="s__compareInfo_article article">
			<div>
				<i class="fri "></i>
			</div>
			<div>
				<h4 class="article__title">Анонимность</h4>
				<div class="article__info">
					<div><p class="section__text">Описание — текст Может взять 2-3 критически важных плюса, анонимность, не фейки и что то еще – чтобы они всегда были в инфографике</p></div>
					<div>
						<div class="progress-bar">
							<p class="progress-bar-info bg-gradient-pink-light" data-progress-bar="100%"></p>
							<p class="progress-bar-info">100%</p>
						</div>
						<div class="progress-bar">
							<p class="progress-bar-info bg-gradient-blue" data-progress-bar="65%"></p>
							<p class="progress-bar-info">65%</p>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article class="s__compareInfo_article article">
			<div>
				<i class="fri "></i>
			</div>
			<div>
				<h4 class="article__title">Безопасность</h4>
				<div class="article__info">
					<div><p class="section__text">Описание — текст Может взять 2-3 критически важных плюса, анонимность, не фейки и что то еще – чтобы они всегда были в инфографике</p></div>
					<div>
						<div class="progress-bar">
							<p class="progress-bar-info bg-gradient-pink-light" data-progress-bar="100%"></p>
							<p class="progress-bar-info">100%</p>
						</div>
						<div class="progress-bar">
							<p class="progress-bar-info bg-gradient-blue" data-progress-bar="65%"></p>
							<p class="progress-bar-info">65%</p>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article class="s__compareInfo_article article">
			<div>
				<i class="fri "></i>
			</div>
			<div>
				<h4 class="article__title">Реальные анкеты</h4>
				<div class="article__info">
					<div><p class="section__text">Описание — текст Может взять 2-3 критически важных плюса, анонимность, не фейки и что то еще – чтобы они всегда были в инфографике</p></div>
					<div>
						<div class="progress-bar">
							<p class="progress-bar-info bg-gradient-pink-light" data-progress-bar="100%"></p>
							<p class="progress-bar-info">100%</p>
						</div>
						<div class="progress-bar">
							<p class="progress-bar-info bg-gradient-blue" data-progress-bar="65%"></p>
							<p class="progress-bar-info">65%</p>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>
{% endblock %}